{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% for error in form.non_field_errors %}
    <div class='alert alert-danger'>{{ error }}</div>
{% endfor %}

<div class="container">
    <div class="row">
        <div class="col-lg-2 mx-auto"></div>
        <div class="col-lg-8 mx-auto">
            <h2 class="text-secondary text-uppercase mb-0">{{ ebook.title }}</h2>
            <hr>
            <div id="products" class="row list-group">
              <div class="item col-xs-12 col-lg-6">
                  <img class="group list-group-image" src="http://placehold.it/300x500/000/fff" alt="" />
              </div>
              <div class="item col-xs-12 col-lg-6">
                <form action="{% url 'ebook_rate' slug=ebook.isbn %}" method="post" class="wrapper">
                  {% csrf_token %}
                  {{ ebook.rates }} / 5
                  <input name="rate" type="submit" id="st5" value="5" />
                  <label for="st5"></label>
                  <input name="rate" type="submit" id="st4" value="4" />
                  <label for="st4"></label>
                  <input name="rate" type="submit" id="st3" value="3" />
                  <label for="st3"></label>
                  <input name="rate" type="submit" id="st2" value="2" />
                  <label for="st2"></label>
                  <input name="rate" type="submit" id="st1" value="1" />
                  <label for="st1"></label>
                </form>

                <div class="row">
                  By (author) <a href="{% url 'ebook_author' slug=ebook.author.id %}">{{ ebook.author.first_name }} {{ ebook.author.last_name }}</a>
                </div>
                <div class="row">
                  {{ ebook.description }}
                </div>
                <div style="font-size: 40px !important" class="lead">{{ ebook.price }} €</div>
                <hr>
                <p style="font-size: 26px; font-weight: bold;">
                  <i class="fa fa-rocket" aria-hidden="true"></i>
                  Available for you right now !
                </p>
                <p style="font-size: 16px">
                  <i style="font-size: 26px;" class="fa fa-book" aria-hidden="true"></i>
                  And read it right know on our application
                </p>
                <p>
                  {% if user.is_authenticated %}
                    <a class="btn btn-success btn-xl btn-full" href="{% url 'ebook_purchase' slug=ebook.isbn %}">Buy</a>
                  {% else %}
                    <a class="btn btn-success btn-xl btn-full" href="{% url 'login' %}">Buy</a>
                  {% endif %}
                </p>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- <script>
$(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});
</script> -->
<script src="{% static 'search_listview/js/search_listview.js' %}"></script>
<script>
    start_search()
</script>
{% endblock content %}
